.nav {
  height: 60px;
  width: 100vw;
  background-color: var(--dark-1);
  display: flex;
  align-items: center;
  padding-left: 20px;


  font-size: 24px;
  font-weight: 400;
  position: fixed;
  top:0
  /* line-height: 58px; */
  /* letter-spacing: 0em; */
  /* text-align: left; */

}

.container {
  height: 100%;
  /* overflow: hidden; */
  padding-top:60px ;
}

.container main,
.container main section{
  height: inherit;
  scroll-snap-align: start;
  scroll-margin-top: 10px;
}
.container main::-webkit-scrollbar{
  width: 0;
}
.container main{
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.buttons-group{
  width: 100%;
}

.info{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.info a{
  display: flex;
  align-items: center;
  gap: 10px;
}